<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="New Value"
    [(ngModel)]="input_value"
  />
  <button class="btn btn-outline-success" (click)="add()">Add</button>
</div>

<div
  class="d-flex gap-3"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
>
  @for(value of values; track value) {
  <div class="bg-light py-1 px-2 rounded cursor-move" cdkDrag>
    <span class="me-2">{{ value }}</span>
    <button class="btn btn-sm p-0" (click)="remove($index)">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  }
</div>
